.s-about::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
}

#zenzyburi { 
  background: url(../images/zz.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;    
}

#shamdo { 
  background: url(../images/sd.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;    
}

#sudoku { 
  background: url(../images/sk.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;    
}

#workshop { 
  background: url(../images/mw.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;    
}

.myfooter {
  text-align: center;
}

